.page-article-detail {
  background: white;
  padding: 20px 0;
  border-radius: 4px;
}
.page-article-detail .article-title {
  word-break: break-all;
  margin: 20px 0;
  font-size: 28px;
  color: black;
  font-weight: 700;
  line-height: 1.3;
}
.page-article-detail .article-title .edit-icon {
  visibility: hidden;
}
.page-article-detail .article-title:hover .edit-icon {
  visibility: visible;
}
.page-article-detail .article-info {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}
.page-article-detail .article-info .author a {
  font-size: 20px;
  color: #555;
}
.page-article-detail .article-info .author a:hover {
  color: #000;
  text-decoration: underline;
}
.page-article-detail .article-content {
  margin-top: 40px;
  padding: 0 !important;
  overflow: hidden;
}
.page-article-detail .article-content img {
  max-width: 100%;
  text-align: center;
}
.page-article-detail #interactive-area {
  margin-top: 20px;
}
.page-article-detail #interactive-area .article-appendix {
  padding: 20px 0 40px 0;
  border-top: 1px solid #eee;
}
.page-article-detail #interactive-area .inter-btn {
  color: #888;
  margin-right: 10px;
}
.page-article-detail #interactive-area .inter-btn:hover {
  color: black;
}
.page-article-detail #interactive-area .title-area {
  padding: 10px 0;
}
.page-article-detail #interactive-area .title-area .total {
  font-weight: bold;
  font-size: 18px;
}
.page-article-detail #interactive-area .tree-area .cell-area {
  border-top: 1px solid #eeeeee;
  padding: 15px 0;
}
.page-article-detail #interactive-area .tree-area .cell-area .reply-area {
  border-left: 4px solid #eeeeee;
  padding-left: 20px;
}
.page-article-detail #interactive-area .tree-area .cell-area .reply-area .sub-cell-area {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}
.page-article-detail #interactive-area .tree-area .cell-area .reply-area .sub-cell-area:first-child {
  border-top: none;
  margin-top: 15px;
}
.page-article-detail #interactive-area .pager-area {
  margin-top: 10px;
}
