.section-navigation {
  border-bottom: 1px solid #eeeeee;
  background: white;
  height: 60px;
}
.section-navigation .logo {
  height: 60px;
}
.section-navigation .site-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  line-height: 60px;
}
.section-navigation .menus {
  float: right;
}
.section-navigation .menus a {
  line-height: 60px;
  font-size: 16px;
  color: #555;
  margin-left: 15px;
}
.section-navigation .menus a:hover {
  border-bottom: 2px solid #23B7E5;
}
.section-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  background: white;
  text-align: center;
  padding: 15px 0;
}
