.section-navigation {
  border-bottom: 1px solid #eeeeee;
  height: 60px;
}
.section-navigation .logo {
  height: 60px;
}
.section-navigation .menus a {
  line-height: 60px;
  font-size: 16px;
  color: #555;
  margin-left: 15px;
}
.section-navigation .menus a:hover {
  border-bottom: 2px solid #23B7E5;
}
