@import "../common/global/variables";

.section-navigation {
  border-bottom: 1px solid #eeeeee;
  background: white;

  @height: 60px;
  height: @height;

  .logo {
    height: @height;
  }

  .site-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 5px;
  }

  .menus {
    float: right;

    a {
      line-height: @height;
      font-size: 16px;
      color: #555;
      margin-left: 15px;

      &:hover {
        border-bottom: 2px solid @brand-primary;
      }
    }
  }

}

.main-body {

}