.article-content {
  img {
    max-width: 100%;
    text-align: center;
  }

}

#comment-area {

  .tree-area {
    .cell-area {

      border-bottom: 1px solid #eeeeee;
      padding: 15px 0;

      .reply-btn {
        color: #888;
        margin-right: 10px;
        &:hover {
          color: black;
        }
      }
      .reply-area {
        border-left: 4px solid #eeeeee;
        padding-left: 20px;

        .sub-cell-area {
          padding: 15px 0;
          border-top: 1px solid #eeeeee;

          &:first-child {
            border-top: none;
            margin-top: 15px;

          }

        }

      }
    }

  }
}