.page-detail {
  background: white;
  margin: 40px 0;
  padding: 20px;
  border-radius: 4px;
}
.page-detail .article-title {
  word-break: break-all;
  margin: 20px 0;
  font-size: 28px;
  color: black;
  font-weight: 700;
  line-height: 1.3;
}
.page-detail .article-info .author {
  font-size: 20px;
  margin-top: 5px;
}
.page-detail .article-info .mix {
  margin-top: 10px;
}
.page-detail .article-content img {
  max-width: 100%;
  text-align: center;
}
.page-detail .nb-comment-panel-area {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #eeeeee;
}
.page-detail #comment-area .title-area {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
.page-detail #comment-area .title-area .total {
  font-weight: bold;
  font-size: 18px;
}
.page-detail #comment-area .tree-area .cell-area {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}
.page-detail #comment-area .tree-area .cell-area .reply-btn {
  color: #888;
  margin-right: 10px;
}
.page-detail #comment-area .tree-area .cell-area .reply-btn:hover {
  color: black;
}
.page-detail #comment-area .tree-area .cell-area .reply-area {
  border-left: 4px solid #eeeeee;
  padding-left: 20px;
}
.page-detail #comment-area .tree-area .cell-area .reply-area .sub-cell-area {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}
.page-detail #comment-area .tree-area .cell-area .reply-area .sub-cell-area:first-child {
  border-top: none;
  margin-top: 15px;
}
.page-detail #comment-area .pager-area {
  margin-top: 10px;
}
