@import "base";
@import "article-detail";
@import "document-detail";
@import "document-read";
@import "user-detail";
@import "widgets";

.page-index {

  background: white;

  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 5px;


  .hot-area {
    padding: 15px;

  }

}
