.section-navigation {
  border-bottom: 1px solid #eeeeee;
  height: 60px;
}
.section-navigation .logo {
  height: 60px;
}
.section-navigation .menus a {
  line-height: 60px;
  font-size: 16px;
  color: #555;
  margin-left: 15px;
}
.section-navigation .menus a:hover {
  border-bottom: 2px solid #23B7E5;
}
.tag-collection {
  display: inline-block;
  margin: 0 18px 18px 0;
  min-height: 32px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  color: #333;
}
.tag-collection img {
  width: 32px;
  height: 32px;
}
.tag-collection .name {
  display: inline-block;
  padding: 0 11px 0 6px;
  font-size: 14px;
}
