.section-navigation {
  border-bottom: 1px solid #eeeeee;
  background: white;
  height: 60px;
}
.section-navigation .logo {
  height: 60px;
}
.section-navigation .site-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  line-height: 60px;
}
.section-navigation .menus {
  float: right;
}
.section-navigation .menus a {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  font-size: 16px;
  color: #555;
  margin-left: 15px;
}
.section-navigation .menus a:hover {
  color: #23B7E5;
  border-bottom: 2px solid #23B7E5;
}
.container .menuExpand > ul {
  list-style: none;
  padding: 0;
  background: #fff;
}
.container .menuExpand > ul > li {
  border-bottom: 1px solid #eeeeee;
  font-size: 15px;
}
.container .menuExpand > ul > li > a {
  height: 40px;
  line-height: 40px;
  color: #2b2b2b;
  display: block;
  padding: 0 20px;
}
.container .menuExpand > ul > li > a:hover {
  color: #fff !important;
  background: #23B7E5;
}
.container [data-expanding-show="false"] {
  display: none;
}
.section-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  background: white;
  text-align: center;
  padding: 15px 0;
}
.page-detail {
  background: white;
  margin: 40px 0;
  padding: 20px;
  border-radius: 4px;
}
.page-detail .article-title {
  word-break: break-all;
  margin: 20px 0;
  font-size: 28px;
  color: black;
  font-weight: 700;
  line-height: 1.3;
}
.page-detail .article-info {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
}
.page-detail .article-info .author {
  font-size: 20px;
}
.page-detail .article-content {
  margin-top: 40px;
  padding: 0 !important;
}
.page-detail .article-content img {
  max-width: 100%;
  text-align: center;
}
.page-detail .nb-comment-panel-area {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #eeeeee;
}
.page-detail #interactive-area {
  margin-top: 20px;
}
.page-detail #interactive-area .article-appendix {
  padding: 20px 0 40px 0;
  border-top: 1px solid #eee;
}
.page-detail #interactive-area .inter-btn {
  color: #888;
  margin-right: 10px;
}
.page-detail #interactive-area .inter-btn:hover {
  color: black;
}
.page-detail #interactive-area .title-area {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
.page-detail #interactive-area .title-area .total {
  font-weight: bold;
  font-size: 18px;
}
.page-detail #interactive-area .tree-area .cell-area {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}
.page-detail #interactive-area .tree-area .cell-area .reply-area {
  border-left: 4px solid #eeeeee;
  padding-left: 20px;
}
.page-detail #interactive-area .tree-area .cell-area .reply-area .sub-cell-area {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}
.page-detail #interactive-area .tree-area .cell-area .reply-area .sub-cell-area:first-child {
  border-top: none;
  margin-top: 15px;
}
.page-detail #interactive-area .pager-area {
  margin-top: 10px;
}
.page-index {
  background: white;
  margin-top: 40px;
  border-radius: 4px;
}
.page-index .article-cell {
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}
.page-index .article-cell .title a {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.page-index .article-cell .title a:hover {
  color: #000;
  text-decoration: underline;
}
.page-index .tag-collection {
  display: inline-block;
  margin: 0 18px 18px 0;
  min-height: 32px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  color: #333;
}
.page-index .tag-collection img {
  width: 32px;
  height: 32px;
}
.page-index .tag-collection .name {
  display: inline-block;
  padding: 0 11px 0 6px;
  font-size: 14px;
}
