@import "base";
@import "article-detail";
@import "user-detail";
@import "widgets";

.page-index {

  background: white;
  margin-top: 40px;
  border-radius: 4px;


  .hot-area {
    padding: 15px;

  }

}
