.article-cell {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 20px 10px 20px;
}
.article-cell .author-name {
  color: #555;
}
.article-cell .author-name:hover {
  color: #000;
  text-decoration: underline;
}
.article-cell .title {
  margin-bottom: 10px;
}
.article-cell .title a {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.article-cell .title a:hover {
  color: #000;
  text-decoration: underline;
}
.article-cell .digest {
  margin-bottom: 10px;
}
.hot-article {
  margin: 10px 0;
  color: #8590a6;
}
.hot-article a {
  color: #175199;
  font-size: 14px;
}
.hot-article a:hover {
  text-decoration: underline;
}
.tag-collection {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0 5px 0 0;
  height: 16px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 8px 2px 2px 8px;
  vertical-align: top;
  overflow: hidden;
  color: #333;
  box-sizing: content-box;
}
.tag-collection :hover {
  color: #23B7E5;
}
.tag-collection img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: top;
}
.tag-collection .name {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  vertical-align: top;
}
.nb-comment-panel-area {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #eeeeee;
}
.nb-report-panel-area {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #eeeeee;
}
