<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%d{yyyy/MM/dd-HH:mm:ss} %level [%thread] - %class{36}.%M %L - %msg%n"/>

    <!-- test文件路径 -->
    <property name="FILE_PATH" value="/var/log"/>

    <!-- 每天产生一个文件 -->
    <appender name="CANGOWIN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${FILE_PATH}/zicla_blog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${FILE_PATH}/zicla_blog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>100</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>


    <logger name="cn.zicla" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.apache" level="info"/>


    <root level="info">
        <appender-ref ref="CANGOWIN_FILE"/>
    </root>

</configuration>