<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%d{yyyy/MM/dd-HH:mm:ss} %level [%thread] - %class{36}.%M %L - %msg%n"/>

    <!-- 每天产生一个文件 存储到文件中去 -->
    <appender name="BLOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${log.path}/eyeblue_blog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${log.path}/blog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>100</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>

        <!--info及以上的级别会输出到文件中-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <!--显示在控制台，debug及以上的级别会显示在控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="cn.eyeblue" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.apache" level="info"/>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="BLOG_FILE"/>
    </root>

</configuration>