<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- log pattern -->
    <property name="PATTERN" value="%d{yyyy/MM/dd-HH:mm:ss} %level [%thread] - %class{36}.%M %L - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="cn.zicla" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.hibernate" level="info"/>
    <logger name="org.apache" level="info"/>

    <!--in debug mode. show detail sql.-->
    <!--<logger name="org.hibernate.SQL" additivity="false">-->
        <!--<level value="DEBUG"/>-->
        <!--<appender-ref ref="CONSOLE"/>-->
    <!--</logger>-->

    <!--<logger name="org.hibernate.type" additivity="false">-->
        <!--<level value="TRACE"/>-->
        <!--<appender-ref ref="CONSOLE"/>-->
    <!--</logger>-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>