.f80 {
  font-size: 80px !important;
}
.f79 {
  font-size: 79px !important;
}
.f78 {
  font-size: 78px !important;
}
.f77 {
  font-size: 77px !important;
}
.f76 {
  font-size: 76px !important;
}
.f75 {
  font-size: 75px !important;
}
.f74 {
  font-size: 74px !important;
}
.f73 {
  font-size: 73px !important;
}
.f72 {
  font-size: 72px !important;
}
.f71 {
  font-size: 71px !important;
}
.f70 {
  font-size: 70px !important;
}
.f69 {
  font-size: 69px !important;
}
.f68 {
  font-size: 68px !important;
}
.f67 {
  font-size: 67px !important;
}
.f66 {
  font-size: 66px !important;
}
.f65 {
  font-size: 65px !important;
}
.f64 {
  font-size: 64px !important;
}
.f63 {
  font-size: 63px !important;
}
.f62 {
  font-size: 62px !important;
}
.f61 {
  font-size: 61px !important;
}
.f60 {
  font-size: 60px !important;
}
.f59 {
  font-size: 59px !important;
}
.f58 {
  font-size: 58px !important;
}
.f57 {
  font-size: 57px !important;
}
.f56 {
  font-size: 56px !important;
}
.f55 {
  font-size: 55px !important;
}
.f54 {
  font-size: 54px !important;
}
.f53 {
  font-size: 53px !important;
}
.f52 {
  font-size: 52px !important;
}
.f51 {
  font-size: 51px !important;
}
.f50 {
  font-size: 50px !important;
}
.f49 {
  font-size: 49px !important;
}
.f48 {
  font-size: 48px !important;
}
.f47 {
  font-size: 47px !important;
}
.f46 {
  font-size: 46px !important;
}
.f45 {
  font-size: 45px !important;
}
.f44 {
  font-size: 44px !important;
}
.f43 {
  font-size: 43px !important;
}
.f42 {
  font-size: 42px !important;
}
.f41 {
  font-size: 41px !important;
}
.f40 {
  font-size: 40px !important;
}
.f39 {
  font-size: 39px !important;
}
.f38 {
  font-size: 38px !important;
}
.f37 {
  font-size: 37px !important;
}
.f36 {
  font-size: 36px !important;
}
.f35 {
  font-size: 35px !important;
}
.f34 {
  font-size: 34px !important;
}
.f33 {
  font-size: 33px !important;
}
.f32 {
  font-size: 32px !important;
}
.f31 {
  font-size: 31px !important;
}
.f30 {
  font-size: 30px !important;
}
.f29 {
  font-size: 29px !important;
}
.f28 {
  font-size: 28px !important;
}
.f27 {
  font-size: 27px !important;
}
.f26 {
  font-size: 26px !important;
}
.f25 {
  font-size: 25px !important;
}
.f24 {
  font-size: 24px !important;
}
.f23 {
  font-size: 23px !important;
}
.f22 {
  font-size: 22px !important;
}
.f21 {
  font-size: 21px !important;
}
.f20 {
  font-size: 20px !important;
}
.f19 {
  font-size: 19px !important;
}
.f18 {
  font-size: 18px !important;
}
.f17 {
  font-size: 17px !important;
}
.f16 {
  font-size: 16px !important;
}
.f15 {
  font-size: 15px !important;
}
.f14 {
  font-size: 14px !important;
}
.f13 {
  font-size: 13px !important;
}
.f12 {
  font-size: 12px !important;
}
.f11 {
  font-size: 11px !important;
}
.f10 {
  font-size: 10px !important;
}
.ln100 {
  line-height: 100px !important;
}
.ln99 {
  line-height: 99px !important;
}
.ln98 {
  line-height: 98px !important;
}
.ln97 {
  line-height: 97px !important;
}
.ln96 {
  line-height: 96px !important;
}
.ln95 {
  line-height: 95px !important;
}
.ln94 {
  line-height: 94px !important;
}
.ln93 {
  line-height: 93px !important;
}
.ln92 {
  line-height: 92px !important;
}
.ln91 {
  line-height: 91px !important;
}
.ln90 {
  line-height: 90px !important;
}
.ln89 {
  line-height: 89px !important;
}
.ln88 {
  line-height: 88px !important;
}
.ln87 {
  line-height: 87px !important;
}
.ln86 {
  line-height: 86px !important;
}
.ln85 {
  line-height: 85px !important;
}
.ln84 {
  line-height: 84px !important;
}
.ln83 {
  line-height: 83px !important;
}
.ln82 {
  line-height: 82px !important;
}
.ln81 {
  line-height: 81px !important;
}
.ln80 {
  line-height: 80px !important;
}
.ln79 {
  line-height: 79px !important;
}
.ln78 {
  line-height: 78px !important;
}
.ln77 {
  line-height: 77px !important;
}
.ln76 {
  line-height: 76px !important;
}
.ln75 {
  line-height: 75px !important;
}
.ln74 {
  line-height: 74px !important;
}
.ln73 {
  line-height: 73px !important;
}
.ln72 {
  line-height: 72px !important;
}
.ln71 {
  line-height: 71px !important;
}
.ln70 {
  line-height: 70px !important;
}
.ln69 {
  line-height: 69px !important;
}
.ln68 {
  line-height: 68px !important;
}
.ln67 {
  line-height: 67px !important;
}
.ln66 {
  line-height: 66px !important;
}
.ln65 {
  line-height: 65px !important;
}
.ln64 {
  line-height: 64px !important;
}
.ln63 {
  line-height: 63px !important;
}
.ln62 {
  line-height: 62px !important;
}
.ln61 {
  line-height: 61px !important;
}
.ln60 {
  line-height: 60px !important;
}
.ln59 {
  line-height: 59px !important;
}
.ln58 {
  line-height: 58px !important;
}
.ln57 {
  line-height: 57px !important;
}
.ln56 {
  line-height: 56px !important;
}
.ln55 {
  line-height: 55px !important;
}
.ln54 {
  line-height: 54px !important;
}
.ln53 {
  line-height: 53px !important;
}
.ln52 {
  line-height: 52px !important;
}
.ln51 {
  line-height: 51px !important;
}
.ln50 {
  line-height: 50px !important;
}
.ln49 {
  line-height: 49px !important;
}
.ln48 {
  line-height: 48px !important;
}
.ln47 {
  line-height: 47px !important;
}
.ln46 {
  line-height: 46px !important;
}
.ln45 {
  line-height: 45px !important;
}
.ln44 {
  line-height: 44px !important;
}
.ln43 {
  line-height: 43px !important;
}
.ln42 {
  line-height: 42px !important;
}
.ln41 {
  line-height: 41px !important;
}
.ln40 {
  line-height: 40px !important;
}
.ln39 {
  line-height: 39px !important;
}
.ln38 {
  line-height: 38px !important;
}
.ln37 {
  line-height: 37px !important;
}
.ln36 {
  line-height: 36px !important;
}
.ln35 {
  line-height: 35px !important;
}
.ln34 {
  line-height: 34px !important;
}
.ln33 {
  line-height: 33px !important;
}
.ln32 {
  line-height: 32px !important;
}
.ln31 {
  line-height: 31px !important;
}
.ln30 {
  line-height: 30px !important;
}
.ln29 {
  line-height: 29px !important;
}
.ln28 {
  line-height: 28px !important;
}
.ln27 {
  line-height: 27px !important;
}
.ln26 {
  line-height: 26px !important;
}
.ln25 {
  line-height: 25px !important;
}
.ln24 {
  line-height: 24px !important;
}
.ln23 {
  line-height: 23px !important;
}
.ln22 {
  line-height: 22px !important;
}
.ln21 {
  line-height: 21px !important;
}
.ln20 {
  line-height: 20px !important;
}
.ln19 {
  line-height: 19px !important;
}
.ln18 {
  line-height: 18px !important;
}
.ln17 {
  line-height: 17px !important;
}
.ln16 {
  line-height: 16px !important;
}
.ln15 {
  line-height: 15px !important;
}
.ln14 {
  line-height: 14px !important;
}
.ln13 {
  line-height: 13px !important;
}
.ln12 {
  line-height: 12px !important;
}
.ln11 {
  line-height: 11px !important;
}
.ln10 {
  line-height: 10px !important;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
