.compulsory {
  &:before {
    content: "*";
    color: red;
  }
}

.limit-hints {
  font-size: 10px;
  color: #aaaaaa;
  float: right;
}

.hover-underline {

  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
  }
}

//超出三行使用点点点
.list-text-restriction {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  line-height: 17px;
  max-height: 51px;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

//讨厌的outline
a {
  outline: none;
  &:focus, &:hover, &:active {
    outline: none;
  }
}

//制造一个手机容器
.mobile-container {
  max-width: 400px;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px auto;
  display: block;
  background-color: white;
}

//秀米的东西
.rich-media-content {
  overflow: hidden;
  color: #333;
  font-size: 17px;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  img {
    max-width: 100%;
  }
}

//按照字母来wrap，不然有些老长老长
.wrap-word {
  word-wrap: break-word;
}
